<section class="about section-padding" id="section_2">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <img src="/images/X9.jpg" class="about-image img-fluid" alt="">
            </div>

            <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                <div class="about-thumb">

                    <div class="section-title-wrap d-flex justify-content-end align-items-center mb-4">
                        <h2 class="text-white me-4 mb-0">My Story</h2>

                        <img src="/images/me.png" class="avatar-image img-fluid" alt="">
                    </div>

                    <h3 class="pt-2 mb-3">a little bit about @Model.myInfo.name </h3>

                    <p>@Model.myInfo.about </p>

                </div>
            </div>

        </div>
    </div>
</section>
